---
import { getEntry, render } from 'astro:content';
import { Image } from 'astro:assets';
import { Code } from 'astro:components';

import { SHIKI_THEMES, URL_PREFIX } from "../../shared/config";
import Layout from '../../shared/layout/base-layout.astro';
import { getEntryStaticPathsFromCollection, getVendorSlug } from '../../shared/utilities';

export async function getStaticPaths() {
    return await getEntryStaticPathsFromCollection('themes');
}

const { slug } = Astro.params;
const vendor = await getEntry('vendors', getVendorSlug(slug));
const entry = await getEntry('themes', slug);
const { Content } = await render(entry);
---
<Layout title={`${entry.data.display || entry.data.id}`}>
    {entry.data.images?.length ? entry.data.images.map(image => (
        <div class="mb-5">
            <Image src={image} alt="" />
        </div>
    )) : (
        <p class="prose dark:prose-invert mb-4">We don't have any screenshots of this theme yet.</p>
    )}

    <div class="prose dark:prose-invert break-words">
        {entry.data.invalid && (
                <p>This theme appears to be invalid, so we do not recommend activating it.</p>
        )}

        <p>To activate, find the <Code lang="xml" code={`<SupportUIList />`} inline themes={SHIKI_THEMES} /> section your <code>{vendor.data.factoryConfigFileName}</code> file and add the following line: {entry.data.number ? (
            <Code lang="xml" code={`<Item id="${entry.data.number}" ui="${entry.data.id}" />`} inline themes={SHIKI_THEMES} />
        ) : (
            <Code lang="xml" code={`<Item id="1" name="${entry.data.id}" display="${entry.data.display}" />`} inline themes={SHIKI_THEMES} />
        )}</p>

        {entry.data.since && (
            <p>Available since <code>{entry.data.since}</code>.</p>
        )}

        {entry.data.client && (
            <p>Requires client <code>{entry.data.client}</code>.</p>
        )}

        <Content />

        <a href={`${URL_PREFIX}themes/${vendor.id}`}>Back to all {vendor.data.name} themes</a>
    </div>
</Layout>
