---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { Code } from 'astro:components';
import Layout from "../../shared/layout/base-layout.astro";
import { SHIKI_THEMES, URL_PREFIX } from "../../shared/config";

export async function getStaticPaths() {
    const entries = await getCollection('themes');
    return entries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry, entry: { data: theme } } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Theme ${theme.id}`}>
    <div class="">
        {theme.images.map(image => (
            <div class="mb-5">
                <Image src={image} alt="" />
            </div>
        ))}
    </div>

    <div class="prose dark:prose-invert max-w-none">
        <p>You need <Code lang="xml" code={`<Item id="1" name="${theme.id}" display="${theme.displayName}" />`} inline theme experimentalThemes={SHIKI_THEMES} /> in the <Code lang="xml" code={`<SupportUIList />`} inline theme experimentalThemes={SHIKI_THEMES} /> section your <code>factory_config.xml</code> file to activate this theme.</p>

        {theme.since && (
            <p>Available since <code>{theme.since}</code>.</p>
        )}

        {theme.client && (
            <p>Requires client <code>{theme.client}</code>.</p>
        )}

        <Content />
    </div>
    
    <a href={`${URL_PREFIX}themes`}>Back to all themes</a>
</Layout>
