---
import type { ITag } from './tag.model';

interface Props {
    tag: ITag;
    mode: 'desktop' | 'mobile';
    labelClassName: string;
}

const { tag, mode, labelClassName } = Astro.props;
const hasChildren = tag.children.length;

---
<li class="flex flex-wrap items-center">
    <input
        type="checkbox"
        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
        id={`filter-tag-${mode}-${tag.id}`}
        name="tags[]"
        value={tag.id}
        checked="checked"
    >
    <label
        for={`filter-tag-${mode}-${tag.id}`}
        class={labelClassName}
        data-value={tag.id}
    >{tag.id} ({tag.themes.length})</label>

    {hasChildren ? (
        <ul class="basis-full mt-4 pl-4 space-y-4">
            {tag.children.map(child => (
                <Astro.self tag={child} mode={mode} labelClassName={labelClassName}></Astro.self>
            ))}
        </ul>
    ) : ''}
</li>
