---
import { slug } from 'github-slugger';
import CodeBracket from 'astro-heroicons/outline/CodeBracket.astro'
import type { SettingItem } from "../../data/factory-settings";

interface Props {
    section: string;
    setting: SettingItem;
    parent?: string;
}

const { section, setting, parent } = Astro.props;

const uniqueId = slug([section, parent, setting.name].filter(x => x).join(' '));
const parentId = parent ? slug([section, parent].filter(x => x).join(' ')) : undefined;

let configXmlRef = undefined;

if (typeof setting.configValue !== "undefined") {
    configXmlRef = `Value for the setting above in factory config file should be "${setting.configValue}"`;
} else if (setting.configKey) {
    configXmlRef = `This setting can be found and set in factory config file file with key "${setting.configKey}"`;

    if (setting.control === 'checkbox' && !setting.children) {
        configXmlRef += `\n\nAdditionally, the values will be most likely "0" or "1" to indicate disabled/enabled state.`;
    }
}
---
<div>
    <div class="flex items-center space-x-2">
        {setting.control === 'checkbox' && (
            <input
                type="checkbox"
                id={uniqueId}
                name={uniqueId}
                disabled="disabled"
                class="rounded w-4 h-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
            >
        )}

        {setting.control === 'radio' && (
            <input
                type="radio"
                id={uniqueId}
                name={parentId}
                disabled="disabled"
                class="w-4 h-4 border-gray-300 text-indigo-600 focus:ring-indigo-500"
            >
        )}

        {setting.control ? (
            <label for={uniqueId} title={'Old name: ' + setting.nameOld}>{setting.name}</label>
        ) : (
            <span id={uniqueId} title={'Old name: ' + setting.nameOld}>{setting.name}</span>
        )}

        {setting.max && (
            <input
                type="range"
                id={uniqueId}
                name={uniqueId}
                min={setting.min}
                max={setting.max}
                disabled="disabled"
                class="h-2 bg-gray-300 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
            >
            <span>({setting.min} - {setting.max})</span>
        )}

        {configXmlRef && (
            <span class="flex items-center text-xs mt-0.5text-gray-600 dark:text-gray-400" title={configXmlRef}>
                &lpar;
                <CodeBracket class="w-3 h-3 mt-0.5 mr-1 inline" />
                <code class="not-prose mt-0.5">{setting.configKey || setting.configValue}</code> &rpar;
            </span>
        )}
    </div>

    {setting.description && (
        <div
            class="mb-1 text-sm text-gray-600 dark:text-gray-400"
            class:list={{ 'ml-6': setting.control === 'checkbox' || setting.control === 'radio' }}
        >
            {setting.description}
        </div>
    )}

    {setting.children?.map(child => (
        <Astro.self section={section} setting={child} parent={setting.name}></Astro.self>
    ))}
</div>
