---
import ColorSchemeSwitch from './color-scheme.component.astro';
import { BASE, NAVIGATION, ROOT } from "../config";

const prefixes = {
    current: 'bg-gray-900 text-white',
    default: 'text-gray-300 hover:bg-gray-700 hover:text-white'
};

const suffixes = {
    desktop: 'rounded-md px-3 py-2 text-sm font-medium',
    mobile: 'block rounded-md px-3 py-2 text-base font-medium'
};

const baseIndex = typeof BASE === 'string'
    ? String(BASE).split('/').length
    : 1;

const isActive = (href: string) => {
    const currentSplit = Astro.url.pathname.split('/');
    const hrefSplit = href.split('/');
    return currentSplit[baseIndex] === hrefSplit[baseIndex];
}

const getClassName = (href: string, mode: string) => {
    const state = isActive(href) ? 'current' : 'default';
    return `${prefixes[state]} ${suffixes[mode]}`;
};

const getAriaCurrent = (href: string) => {
    return isActive(href) ? 'page' : undefined;
}
---
<nav class="bg-gray-800" x-data="{ open: false }">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <h1 class="flex-shrink-0 text-white text-xl">
                    <a href={ROOT}>KSW Head Units</a>
                </h1>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        {NAVIGATION.map(page => (
                            <a
                                href={page.href}
                                class={getClassName(page.href, 'desktop')}
                                aria-current={getAriaCurrent(page.href)}
                            >{page.name}</a>
                        ))}
                    </div>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <ColorSchemeSwitch></ColorSchemeSwitch>
                <button
                    type="button"
                    class="md:hidden relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                    aria-controls="mobile-menu"
                    :aria-expanded="open"
                    x-on:click="open = !open"
                >
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Toggle main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path x-show="!open" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        <path x-cloak x-show="open" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="md:hidden" id="mobile-menu" x-show="open" x-cloak >
        <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
            {NAVIGATION.map(page => (
                <a
                    href={page.href}
                    class={getClassName(page.href, 'mobile')}
                    aria-current={getAriaCurrent(page.href)}
                >{page.name}</a>
            ))}
        </div>
    </div>
</nav>
